[Desktop Entry]
Version=1.0
Name=Bloom 
Comment=Bloom P2P Cryptocurrency
Comment[fr]=Bloom, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bloom, eşten eşe kriptografik sanal para birimi
Exec=bloomcoin-qt %u
Terminal=false
Type=Application
Icon=bloomcoin128
MimeType=x-scheme-handler/bloomcoin;
Categories=Office;Finance;
StartupWMClass=bloomcoin-qt
